project.lock.json
project.fragment.lock.json
*.nuget.props
*.nuget.targets
*.user
*.suo
*.userosscache
*.userprefs
*.lock.json
*.vspscc
*.vssscc
.vs/
*.bak
*.cache
*.dll
*.exe
*.nupkg
*.tmp
*.log
*.vsmdicmp
*.translog
*.dbmdl
*.jfm
*.bscache
*.build
*.pidb
*.vc.db
*.vc.vc.opendb
*.testadapter
TestResults/
**/AzureFunctions/bin
**/AzureFunctions/obj
**/bin
**/obj
*.csproj.user
*.sln.user
